
<body>
    
    <div class="card-header">
        <h2>Contactanos</h2>
        <h1>Somos Salsamentaria la 69</h1>
        <img src="../../../assets/icons8-cóctel-100 (1).png" alt="">
    </div>
    <div class="card-body">
      <a href=""><img src="../../../assets/whatsapp-logo-4-1.png" alt=""></a>
      <h2>Escribenos a nuestro WhatsApp</h2>
    </div>

    <div class="mensaje">     
        <h2>Dejanos tu mensaje</h2>
        <div class="formulario">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputPassword">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Mensaje</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </div>
        </div>

    </div>


</body>
