
<body>
    <div class="perfil">
        <h1>Perfil</h1>
        <div class="formulario">
            <div class="labels">
                <div class="perfil-foto">
                <img src="../../../assets/portada-foto-perfil-redes-sociales-consejos.jpg" alt="">
                 </div>
                <div class="mb-3">
                <label for="exampleFormControlInput1" class="label1">Nombre y apellido</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="">Telefono</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="">Contraseña</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="">Direccion</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" >
              </div>

              <div class="boton-productos">
                <a href="#" class="btn btn-warning">Cambiar</a>
              </div>

            </div>
    
        </div>

    </div>

</body>
