<div class="pedidos-header">
    <div class="titulo-header">
        <h1>Carrito de compras</h1>
    </div>
    <div class="comprar">
        <h3>Total producto:</h3>
        <a href="#" class="btn-recibo btn btn-warning">Comprar</a>
    </div>
</div>

<div class="lista-productos">
  <div class="productos">
    <div class="imagen">
        <img src="../../../assets/364000-HEINEKEN-330ML.png" alt="">
    </div>
    <div class="informacion">           
        <h2>Heineken</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa quis fugit voluptate eos facere</p>
        <p></p>
        <a href="#" class="btn-soporte btn btn-warning">Elimar producto</a>
        <a href="#" class="btn-recibo btn btn-warning">- 1 +</a>
        <h2 class="precio">$ 6000</h2>
    </div>
    
    <div class="productos">
        <div class="imagen">
            <img src="../../../assets/364000-HEINEKEN-330ML.png" alt="">
        </div>
        <div class="informacion">           
            <h2>Heineken</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa quis fugit voluptate eos facere</p>
            <p></p>
            <a href="#" class="btn-soporte btn btn-warning">Elimar producto</a>
            <a href="#" class="btn-recibo btn btn-warning">- 1 +</a>
            <h2 class="precio">$ 6000</h2>
        </div>       
      </div> 
      <div class="productos">
        <div class="imagen">
            <img src="../../../assets/364000-HEINEKEN-330ML.png" alt="">
        </div>
        <div class="informacion">           
            <h2>Heineken</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa quis fugit voluptate eos facere</p>
            <p></p>
            <a href="#" class="btn-soporte btn btn-warning">Elimar producto</a>
            <a href="#" class="btn-recibo btn btn-warning">- 1 +</a>
            <h2 class="precio">$ 6000</h2>
        </div>       
      </div> 
      <div class="productos">
        <div class="imagen">
            <img src="../../../assets/364000-HEINEKEN-330ML.png" alt="">
        </div>
        <div class="informacion">           
            <h2>Heineken</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa quis fugit voluptate eos facere</p>
            <p></p>
            <a href="#" class="btn-soporte btn btn-warning">Elimar producto</a>
            <a href="#" class="btn-recibo btn btn-warning">- 1 +</a>
            <h2 class="precio">$ 6000</h2>
        </div>       
      </div> 

  </div> 
</div>
