<body>
    <div class="catalogo-header">
        <div class="filtrar">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Filtrar
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
        </div>
        <div class="titulo-header">
            <h1>Nuestros productos</h1>
        </div>
        <div class="buscador">
            <div class="input-group">
                <div class="form-outline">
                  <input placeholder="Buscar" type="search" id="form1" class="form-control" />
                  
                </div>
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
              </div>
        </div>

        <div class="catalogo-body">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/aguila-original_1.png" class="card-img-top aguila" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Aguila</h5>
                  <p class="card-text">$6000</p>
                  <a href="#" class="btn btn-warning">Comprar</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/364000-HEINEKEN-330ML.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Heineken</h5>
                  <p class="card-text">$6000</p>
                  <a href="#" class="btn btn-warning">Comprar</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/botellas-16-removebg-preview.png" class="card-img-top" alt="...">
                <div class="card-body aguardiente">
                  <h5 class="card-title">Aguardiente</h5>
                  <p class="card-text">$6000</p>
                  <a href="#" class="btn btn-warning">Comprar</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/aguila-original_1.png" class="card-img-top aguila" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Aguila</h5>
                  <p class="card-text">$6000</p>
                  <a href="#" class="btn btn-warning">Comprar</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/364000-HEINEKEN-330ML.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Heineken</h5>
                  <p class="card-text">$6000</p>
                  <a href="#" class="btn btn-warning">Comprar</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/botellas-16-removebg-preview.png" class="card-img-top" alt="...">
                <div class="card-body aguardiente">
                  <h5 class="card-title">Aguardiente</h5>
                  <p class="card-text">$6000</p>
                  <a href="#" class="btn btn-warning">Comprar</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/aguila-original_1.png" class="card-img-top aguila" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Aguila</h5>
                  <p class="card-text">$6000</p>
                  <a href="#" class="btn btn-warning">Comprar</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/364000-HEINEKEN-330ML.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Heineken</h5>
                  <p class="card-text">$6000</p>
                  <a href="#" class="btn btn-warning">Comprar</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/botellas-16-removebg-preview.png" class="card-img-top" alt="...">
                <div class="card-body aguardiente">
                  <h5 class="card-title">Aguardiente</h5>
                  <p class="card-text">$6000</p>
                  <a href="#" class="btn btn-warning">Comprar</a>
                </div>
              </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Atras</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
      </nav>
</body>