<body>
    <div class="iniciosesion">
        <h1>Crear cuenta</h1>
        <div class="formulario">
            <div class="labels">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="label1">Nombre y apellido</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="">Telefono</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="">Contraseña</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="exampleFormControlInput1" >
              </div>

              <div class="boton-productos">
                <a  class="btn btn-warning">Crear cuenta</a>
              </div>

            </div>
    
        </div>

    </div>

</body>
