<body>
    <div class="pedidos-header">
        <div class="titulo-header">
            <h1>Tus pedidos</h1>
        </div>
        <div class="buscador">
            <div class="input-group">
                <div class="form-outline">
                  <input placeholder="Buscar" type="search" id="form1" class="form-control" />
                  
                </div>
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
              </div>
        </div>
    </div>
  
    <div class="lista-productos">
      <div class="productos">
        <div class="imagen">
            <img src="../../../assets/364000-HEINEKEN-330ML.png" alt="">
        </div>
        <div class="informacion">           
            <h2>Heineken</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa quis fugit voluptate eos facere</p>
            <p></p>
        </div>
        <div class="opciones-pedido">
            <a href="#" class="btn-soporte btn btn-warning">Soporte del producto</a>
            <a href="#" class="btn-recibo btn btn-warning">Recibo del producto</a>
        </div>
      </div> 
      <div class="productos">
        <div class="imagen">
            <img src="../../../assets/364000-HEINEKEN-330ML.png" alt="">
        </div>
        <div class="informacion">           
            <h2>Heineken</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa quis fugit voluptate eos facere</p>
            <p></p>
        </div>
        <div class="opciones-pedido">
            <a href="#" class="btn-soporte btn btn-warning">Soporte del producto</a>
            <a href="#" class="btn-recibo btn btn-warning">Recibo del producto</a>
        </div>
      </div>  
      <div class="productos">
        <div class="imagen">
            <img src="../../../assets/364000-HEINEKEN-330ML.png" alt="">
        </div>
        <div class="informacion">           
            <h2>Heineken</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa quis fugit voluptate eos facere</p>
            <p></p>
        </div>
        <div class="opciones-pedido">
            <a href="#" class="btn-soporte btn btn-warning">Soporte del producto</a>
            <a href="#" class="btn-recibo btn btn-warning">Recibo del producto</a>
        </div>
      </div>  
      <div class="productos">
        <div class="imagen">
            <img src="../../../assets/364000-HEINEKEN-330ML.png" alt="">
        </div>
        <div class="informacion">           
            <h2>Heineken</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa quis fugit voluptate eos facere</p>
            <p></p>
        </div>
        <div class="opciones-pedido">
            <a href="#" class="btn-soporte btn btn-warning">Soporte del producto</a>
            <a href="#" class="btn-recibo btn btn-warning">Recibo del producto</a>
        </div>
      </div>   
    </div>
  
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Atras</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
      </nav>

</body>
